#### import

In [3]:
import pandas as pd
import numpy as np

#### read & load dataset

In [4]:
marketing = pd.read_csv(
    filepath_or_buffer='marketing.csv',
    parse_dates=['date_served', 'date_subscribed', 'date_canceled']
)

In [5]:
marketing.head()

,user_id,date_served,marketing_channel,variant,converted,language_displayed,language_preferred,age_group,date_subscribed,date_canceled,subscribing_channel,is_retained
0,a100000029,2018-01-01,House Ads,personalization,True,English,English,0-18 years,2018-01-01,NaT,House Ads,True
1,a100000030,2018-01-01,House Ads,personalization,True,English,English,19-24 years,2018-01-01,NaT,House Ads,True
2,a100000031,2018-01-01,House Ads,personalization,True,English,English,24-30 years,2018-01-01,NaT,House Ads,True
3,a100000032,2018-01-01,House Ads,personalization,True,English,English,30-36 years,2018-01-01,NaT,House Ads,True
4,a100000033,2018-01-01,House Ads,personalization,True,English,English,36-45 years,2018-01-01,NaT,House Ads,True

In [6]:
marketing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   date_served          10021 non-null  datetime64[ns]
 2   marketing_channel    10022 non-null  object
 3   variant              10037 non-null  object
 4   converted            10022 non-null  object
 5   language_displayed   10037 non-null  object
 6   language_preferred   10037 non-null  object
 7   age_group            10037 non-null  object
 8   date_subscribed      1856 non-null   datetime64[ns]
 9   date_canceled        577 non-null    datetime64[ns]
 10  subscribing_channel  1856 non-null   object
 11  is_retained          1856 non-null   object
dtypes: datetime64[ns](3), object(9)
memory usage: 941.1+ KB

In [12]:
def conversion_rate(dataframe, column_names):
    """
    Doc String
    """
    # conversion rate = total_converted / total_users
    
    total_converted = dataframe[dataframe['converted'] == True].groupby(column_names)['user_id'].nunique()
    total_users = dataframe.groupby(column_names)['user_id'].nunique()
    
    conversion_rate = total_converted / total_users
    conversion_rate = round(conversion_rate*100, 2)
    
    # Fill missing values with 0
    conversion_rate = conversion_rate.fillna(0)
    
    # Unstack and convert to pd.DataFrame
    conversion_rate = conversion_rate.unstack(1)
    
    return conversion_rate

In [14]:
conversion_rate(marketing, ['variant', 'age_'])

subscribing_channel   Email  Facebook  House Ads  Instagram   Push
date_subscribed
2018-01-01           100.00     100.0      100.0      100.0  100.0
2018-01-02           100.00     100.0      100.0      100.0  100.0
2018-01-03           100.00     100.0      100.0      100.0  100.0
2018-01-04            50.00     100.0      100.0      100.0  100.0
2018-01-05           100.00     100.0      100.0      100.0  100.0
2018-01-06            60.00     100.0      100.0      100.0  100.0
2018-01-07           100.00     100.0      100.0      100.0  100.0
2018-01-08           100.00     100.0      100.0      100.0  100.0
2018-01-09            50.00     100.0      100.0      100.0  100.0
2018-01-10            66.67     100.0      100.0      100.0  100.0
2018-01-11            66.67     100.0      100.0      100.0  100.0
2018-01-12           100.00     100.0      100.0      100.0  100.0
2018-01-13           100.00     100.0      100.0      100.0  100.0
2018-01-14           100.00     100.0      100.0      100.0  100.0
2018-01-15            80.43     100.0      100.0      100.0  100.0
2018-01-16            90.57     100.0      100.0      100.0  100.0
2018-01-17            86.49     100.0      100.0      100.0  100.0
2018-01-18            75.00     100.0      100.0      100.0  100.0
2018-01-19             0.00     100.0      100.0      100.0  100.0
2018-01-20           100.00     100.0      100.0      100.0  100.0
2018-01-21            50.00     100.0      100.0      100.0  100.0
2018-01-22           100.00     100.0      100.0      100.0  100.0
2018-01-23           100.00     100.0      100.0      100.0  100.0
2018-01-24            50.00     100.0      100.0      100.0  100.0
2018-01-25           100.00     100.0      100.0      100.0  100.0
2018-01-26           100.00     100.0      100.0      100.0  100.0
2018-01-27           100.00     100.0      100.0      100.0  100.0
2018-01-28            66.67     100.0      100.0      100.0  100.0
2018-01-29            50.00     100.0      100.0      100.0  100.0
2018-01-30           100.00     100.0      100.0      100.0  100.0
2018-01-31           100.00     100.0      100.0      100.0  100.0

In [10]:
def retention_rate():
    pass

In [ ]:
def plotting(dataframe):
    pass